<%= form_with(model: deal, class: "contents") do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul class="list-disc ml-6">
        <% deal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:title].none?, "border-red-400 focus:outline-red-600": deal.errors[:title].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :account_id %>
    <%= form.text_field :account_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:account_id].none?, "border-red-400 focus:outline-red-600": deal.errors[:account_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :contact_id %>
    <%= form.text_field :contact_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:contact_id].none?, "border-red-400 focus:outline-red-600": deal.errors[:contact_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :stage_id %>
    <%= form.text_field :stage_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:stage_id].none?, "border-red-400 focus:outline-red-600": deal.errors[:stage_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :amount_cents %>
    <%= form.number_field :amount_cents, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:amount_cents].none?, "border-red-400 focus:outline-red-600": deal.errors[:amount_cents].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :currency %>
    <%= form.text_field :currency, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:currency].none?, "border-red-400 focus:outline-red-600": deal.errors[:currency].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :expected_close_on %>
    <%= form.date_field :expected_close_on, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:expected_close_on].none?, "border-red-400 focus:outline-red-600": deal.errors[:expected_close_on].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": deal.errors[:status].none?, "border-red-400 focus:outline-red-600": deal.errors[:status].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
