<div id="<%= dom_id account %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= account.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Industry:</strong>
    <%= account.industry %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Website:</strong>
    <%= account.website %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= account.notes %>
  </div>
</div>
